*{margin: 0; padding: 0;}


body{

}
header{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 20px;
}
.snsMenu{
    display: flex;
    /* margin-left: ; */

}
.snsMenu>li{
    font-size: 24px;
    margin-right: 14px;
}
.snsMenu>li:last-of-type{margin-right: 0;}
.logo{
    box-shadow: ;
}
.stationMenu{
    display: flex;
    padding-left: 20px;
    margin-bottom: 70px;
}
.stationMenu>li{
    margin-right: 20px;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
}
.stationMenu>li:hover{
    color: aqua;
}
.station{
    width: 100%;
    height: 500px;
}
.train{
    width: 4000px;
    height: 500px;
    transition: all 0.5s ease 0s;

    display: flex;
}
.train>li{
    width: 180px;

}
.train>li>.title{

}
.train>li.on>p{
    
}
.btnClose{display: none;}
.