h1{border: 3px solid rgb(255, 132, 132); background-color: rgb(255, 132, 132); width: fit-content;}
p{border:1px solid rgb(245, 193, 193); background-color: rgb(252, 252, 237); width: 700px;}
span{border:1px solid orange}
.box{
    width: 300px; height: 150px;
}
input{
    width: 200px;
    height: 100px;
}
select{
    width: 200px;
    height: 100px;
}
h1{
    display: inline;
}