*{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:normal;}
b,strong{font-weight: normal;}
i,em,address{font-style: normal;}
a{color:inherit;text-decoration: none;}
ul,ol{list-style:none;}

html{
    font-size:14px;
    font-family: 'Noto Sans KR', sans-serif;
}


.contents_warp{}
header{
    /* border: 10px solid red; */
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    height: 70px;
    color: #fff;
    z-index: 1000;
    transition: all 0.5s ease 0s;
    overflow: hidden;
}
header:hover{
    background: #fff;
    color: #000;
    height: 300px;
}
header:after{
    content: "";
    position: absolute;
    left: 0; top: 70px;
    width: 100%;
    height: 1px;
    background: #ddd;
}

.innerHeader{
    border: 1px solid lime;
    width: 1440px;
    height: 70px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.innerHeader>*{border: 1px solid aqua;}
.logoArea{width: 160px;}
.logoArea img{width: 100%; display: none;}
.logoArea a{
    display: block;
    width: 160px;
    height: 26px;
    background: url(./pearlabyss/img/cm_bi_white.svg) no-repeat 50% 50%;
    background-size: contain;
}
header:hover .logoArea a{
    background: url(./pearlabyss/img/cm_bi_black.svg) no-repeat 50% 50%;
    width: 160px;
    height: 26px;
    background-size: contain;
}

.gnb{
    width: 800px;
}
.gnb>ul{
    display: flex;
    height: 70px;
}
.gnb>ul>li{
    border: 1px solid lime;
    display: flex;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}
.gnb>ul>li>a{
    font-weight: bold;
    font-size: 1.1rem;
}
.gnb>ul>li>ul{
    border: 1px solid lime;
    position: absolute;
    left: 0; top: 70px;
    width: 100%;
    padding-top: 20px;
}

.gnb>ul>li>ul>li{
    border: 1px solid yellow;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    /* font-weight: normal; */
}
.gnb>ul>li>ul>li:last-of-type{
    margin-bottom: 0;
}
.gnb>ul>li>ul>li:hover{
    font-weight: bold;
}
.blankstyle:after{
    content: "";
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left:4px ;
    background: url(./pearlabyss/img/icn_header_new_win.svg);
    /* border: 1px solid red; */
}

.langlist{width: 160px;}
.langlist>ul{
    display: flex;
    justify-content: space-between;
}
.langlist>ul>li{
    flex: 1;
    text-align: center;
    position: relative;
}
.langlist>ul>li:after{
    content: "";
    position: absolute;
    right: 0; top: calc(50% - 5px);
    width: 1px;
    height: 10px;
    background: #fff;
}
.langlist>ul>li:last-of-type:after{
    display: none;
}


main{
    /* border: 10px solid blue; */
    position: relative;
}
.videoBanner{
    border: 1px solid ;
    height: 780px;
    position: relative;
}
.videoBanner video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.videoBanner:after{
    content: "";
    position: absolute;
    left: 0; top:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
}
.videoBanner>.flotingTxt{
    border: 1px solid lime;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%)translateY(-50%);
    z-index: 10;
    text-align: center;
}
.flotingTxt>h2{
    margin-bottom: 50px;
    
}
.flotingTxt>a{
    border: 1px solid lime;
    padding: 30px 110px;
    background: rgba(255, 255, 255, 0.322);
    display: inline-block;
    color: #fff;
    font-size:1.3rem ;
    border-radius: 4px;
}


.news{
    border: 1px solid red;
    width: 1440px;
    margin: 0 auto;
    margin-top: 60px;
}
.news>h3{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.news>ul{
    display: flex;
    justify-content: space-between;
    
}
.news>ul>li{
    /* border: 1px solid red; */
    border-right: 1px solid #ddd;
    flex: 1;
    padding: 0 20px;
}
.news>ul>li:first-of-type{padding-left: 0;}
.news>ul>li:last-of-type{padding-right:0}

.news>ul>li>a>h4{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
}
.news>ul>li>a>.date{
    font-size: 12px;
    color: rgb(124, 124, 124);
    margin-bottom: 20px;
}


.culture{
    border: 1px solid pink;
    width: 1440px;
    margin: 0 auto;
    margin-top: 80px;
}
.culture>ul{
    display: flex;
    
}
.culture>ul>li{
    position: relative;
}
.culture>ul>li>a>.floatingBox{
    border: 1px solid lime;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translateX(-50%)translateY(-50%);
    z-index: 0;
    text-align: center;
    color: #fff;
}
.culture>ul>li>a>.floatingBox>h4{
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 30px;
}
/* .culture>ul>li>a>p{
    position: relative;
} */

.notice{
    /* border: 1px solid orange; */
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 200px;
    border-bottom: 1px solid #ddd;
}
.notice>ul{
    display: flex;
    margin-top: 150px;
}
.notice>ul>li{
    border: 1px solid orange;
    flex: 1;
    margin-right: 15px;
    overflow: hidden;
}
.notice>ul>li:last-of-type{margin-right: 0;}
.notice>ul>li>a>img{
    width: 345px;
    height: 190px;  
    margin-bottom: 12px; 
    transition: all 0.5s ease 0s;
}
.notice>ul>li:hover img{
    transform: scale(1.1);
}
.notice>ul>li>a>h4{
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
}



footer{
    /* border: 10px solid green; */
    width: 1440px;
    margin: 0 auto;
}
.footmenu1{
    border: 1px solid red;
}
.footmenu1>ul{
    display: flex;
    justify-content: space-around;
}
.footmenu1>ul>li{
    border: 1px solid red;
}
.footmenu1>ul>li>a{
    font-size: 1.3rem;
    font-weight: bold;
    
}
.footmenu1>ul>li>ul{
    margin-top: 15px;
}
.footmenu1>ul>li>ul>li{
    margin-bottom: 10px;
    color: rgb(121, 121, 121);
}
.footmenu1>ul>li>ul>li:hover{
    color: #000;
}
.footmenu1>ul>li>ul>li:last-of-type{
    margin-bottom: 0;
}
.footmenu2{
    border: 1px solid red;
    margin-top: 50px;
    padding-bottom: 80px;
    border-bottom: 1px solid #ddd;
}

.footmenu2>ul{
    display: flex;
    justify-content: space-around;
}
.coInfo{
    border: 1px solid red;
    width: 1440px;
    margin: 0 auto;
}
.footLogo{
    display: flex;

}
.footLogo>h1>a>img{
    height: 20px;
}