@font-face{
    font-family: chab;
    src: url(./font/chab_ddag_ttf/chab.ttf);
}
@font-face {
    font-family: ddag;
    src: url(./font/chab_ddag_ttf/ddag.ttf);
}
@font-face {
    font-family: 'Ansungtangmyun-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/Ansungtangmyun-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}