*{
    margin:0;
    padding:0;
}
h1{
    border:1px solid skyblue;
    margin-bottom: 20px;
}
p{
    border: 1px solid pink;
}
ul{
    border: 1px solid palegoldenrod;
    margin-top: 20px;
    /*padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    paddomg-bottom: 20; */
    padding:20px 40px;
}
ul li{
    border: 1px solid palegreen;
    margin-bottom: 10px;
}
ul li:last-of-type{margin-bottom: 0;}

.box1{
    border: 1px solid salmon;
    margin-top: 100px;
    width: 500px;
}
.box2{
    border: 1px solid sandybrown;
    margin-top: 100px;
    padding: 20px 50px;
}
.box3{
    border: 1px solid palevioletred;
    margin-top: 100px;
    padding: 20px 50px;
    width: 500px;
    box-sizing: border-box;
}
.box4{
    border:1px solid violet;
    width: 900px;
    /*margin-left: auto;
    margin-right: auto;*/
    margin: 0 auto;
}
.box5{
    width: 1000px;
    border: 1px solid darkorange;
    margin: 0 auto;
    margin-top: 200px;
}
.box>h3{
    border: 1px solid black;
    width: 250px;
    margin: 0 auto;
}
.box5>p{
    border: 1px solid black;
}