*{margin: 0; padding: 0;}
yl,ol{list-style: none;}
a{text-decoration: none; color: inherit;}

header{
    /* border: 1px solid red; */
    position: fixed;
    left: 0; top:0;
    width: 200px;
    height: 100%;
    background: orange;
    transition: all 0.5s ease 0s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;
}
header::after{
    content: "";
    height: 50px;
}
header:hover{
    width: 300px;
}

header>h1{}
/* .gnb{
    position: absolute;
    left: 0; top: 50%;
    transform: translateY(-50%);
    width: 100%;
    box-sizing: border-box;
} */
.gnb{
    border: 1px solid red;
    
}
.gnb>li{
    /* border: 1px solid blue; */
    height: 50px;
    overflow: hidden;
    transition: all 0.5s ease 0s; 
    border-bottom:1px solid #ddd ;
}
.gnb>li:hover{
    height: 220px;
}
.gnb>li>a{
    /* border: 1px solid green; */
    display: flex;
    height: 50px;
    align-items: center;
    padding-left: 50px;
}
.gnb>li>ul>li{
    /* border: 1px solid yellow; */
    height: 40px;
}
.gnb>li>ul>li:hover{
    background: #000;
    color: #fff;
}
.gnb>li>ul>li>a{
    /* border: 1px solid green; */
   display: flex;
   height: 100%;
   align-items: center;
   padding-left: 60px;
   
}
.container{
    /* border: 1px solid lime; */
    width: calc(100% - 200px);
    margin-left: 200px;
    transition: all 0.5s ease 0s;
}

header:hover+.container{
    width: calc(100% - 300px);
    margin-left: 300px;
}
/* .header:hover{
    width: calc(100% - 300px);
    margin-left: 300px;
} */
.container>div{
    height: 100vh;
}
.banner img{
    width: 100%;
    object-fit: cover;
}