.none{list-style: none;}
.disc{list-style: disc;}
.circle{list-style: circle;}
.sqare{list-style: square;}
.upperA{list-style: upper-alpha;}
.lowerA{list-style: lower-alpha;}
.upperR{list-style: lower-roman;}
.lowerR{list-style: lower-roman;}