*{margin: 0; padding: 0;}
.box{
    border: 1px solid red;
    width: 300px;
    height: 300px;
    /* transition-property: width; */
    /* transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s; */

    /* transition: all 2000ms cubic-bezier(1, -0.21, 0.15, 1.36) -1s; */

    transition: 
    width 1s cubic-bezier(1, -0.21, 0.15, 1.36) 0s,
    height 1s linear 1s,
    background 1s cubic-bezier(1, -0.21, 0.15, 1.36) 2s,
    border-radius 0.5s ease 3s;
    
}

.box:hover{
    height: 500px;
    width: 500px;
    background: gold;
    border-radius: 50%;
}

.menu{
    border: 1px solid red;
    list-style: none;
    width: 600px;
    height: 100px;
    display: flex;
}
.menu>li{
    border: 1px solid black;
    flex:1;
    transition: all 0.5s ease 0s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu>li:hover{
    background:#000;
    color: #fff;
    flex: 2;
}