*{
    margin: 0;padding: 0;
}
.box{
    width: 800px;
    height: 600px;
    padding: 40px;
    border: 1px solid red;
    /*background-color:pink ;
    background-image: url(./img/1.jpg);
    background-repeat: no-repeat;
    background-position:100px 100px*/
    background: pink url("./img/1.jpg") no-repeat 100px 100px; 
}
.box2{
    width: 1000px;
    height: 800px;
    border: 1px solid blue;
    margin: 0 auto;
    /*background: papayawhip url("./img/1.jpg") no-repeat right bottom;*/
    background: papayawhip url("./img/1.jpg") no-repeat calc(100% - 50px);
}
/* center right left bottom top 으로 위치 정해줄 수 있음*/
/* 50% 50%로 센터 지정 해줄 수 있음*/
.box2>h2{
    border: 1px solid salmon;
    width: 50%;
}
.box3{
    width: 800px;
    height: 800px;
    border: 1px solid black;
    margin: 0 auto;
    background: url(./img/1.jpg) no-repeat 0 0;
    background-size: ;
}